<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <input [matDatepicker]="picker1" 
    [max]="maxDate"
    formControlName="startDate" matInput
    >
    
    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-label>From</mat-label>
  </mat-form-field>

  <mat-form-field>
    <input [matDatepicker]="picker2"
    [min]="stockPickerForm.get('startDate').value"
    [max]="maxDate"
    formControlName="endDate" matInput
    >
    <mat-datepicker-toggle [for]="picker2" matSuffix>
    </mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-label>To</mat-label>
  </mat-form-field>

  <!-- <button (click)="fetchQuote()" mat-raised-button>Go</button> -->
</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
